DATABASE_URL=url
CLERK_PUBLISHABLE_KEY=publishable_key
CLERK_SECRET_KEY=secret_key
PERENUAL_API_KEY=secret-key
WEBHOOK_SECRET=secret-key
VAPID_PUBLIC_KEY=public-key
VAPID_PRIVATE_KEY=secret-key
CLOUDINARY_CLOUD_NAME=cloud-name
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=secret-key